.destinations{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.destination img{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.destination{
    flex-basis: 31%;
    position: relative;
}

.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    opacity: 0; /*to hide the icons before hovering */
    padding-top: 70%;
    transition: 0.4s;

}

.caption img{
    width: 60px;
    margin-bottom: 10px;
 
}

.destination:hover .caption{
    opacity: 1;
    padding-top: 0;
}

/*------------media query-----------*/
@media (max-width: 650px) {
    .destinations{
        flex-direction: column;
    }
    .destination{
        flex-basis: 100%;
        margin: 20px;
    }
}